################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CoreMVCApp/.vs/CoreMVCApp
/CoreMVCApp/CoreMVCApp/bin/Debug/netcoreapp3.1
/CoreMVCApp/CoreMVCApp/obj
